@using System.Linq
@using IronBeard.Core.Extensions
@model IronBeard.Core.Features.Generator.ViewContext

<h1>Home Page</h1>

<span>All Content</span>

<ul>
@foreach(var item in Model.Children)
{
    <li><a href="@item.Url"><strong>@item.Url</strong></a></li>
}
</ul>