@using System.Linq
@using IronBeard.Core.Extensions
@model IronBeard.Core.Features.Generator.ViewContext

<h1>Home Page</h1>

<span>Sitemap</span>
@{
    var allPages = Model.Children.Where(x => x.Extension.IgnoreCaseEquals(".html"));
}

<ul>
@foreach(var item in allPages)
{
    <li><a href="@item.Url">@item.Url</a></li>
}
</ul>