name: Release

on:
  push:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v5

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
          
      - name: Build
        run: dotnet build ./src

      - name: Unit Tests
        run: dotnet run --project ./src/IronBeard.Core.Tests

      - name: Integration Tests
        run: dotnet run --project ./src/IronBeard.Cli.IntegrationTests

      - name: Smoke Test
        run: dotnet run --project ./src/IronBeard.Cli -- generate -i ./samples/razor-markdown-sample

      - name: Build & Pack
        run: dotnet pack ./src/IronBeard.Cli/IronBeard.Cli.csproj -c Release -o ./output

      - name: Push to nuget
        run: dotnet nuget push ./output/*.nupkg --api-key ${{secrets.NUGET_TOKEN}} --source https://api.nuget.org/v3/index.json --skip-duplicate --no-symbols
        env:
          GITHUB_TOKEN: ${{ secrets.NUGET_TOKEN }}
